#mainContain{

    width:1920px;
    margin-left:auto;
    margin-right:auto;
}

header{
    width:1920px;
    height:80px;
    background:red;
    margin-bottom:20px;
    position:relative;
}

#logoBlock{
    height:254px;
    width:244px;
    background:blue;
    position:absolute;
    top:0px;
    left:833px;
    border-radius: 0px 0px 50px 50px;
}

#hero{
width:1880px;
height:600px;
 background:yellow;
margin-left:20px;
 margin-bottom:20px; 
}

#unHero1{
    height:331px;
    width:930px;
    background:purple;
    margin-left:20px;
    float:left;

}

#unHero2{
    height:331px;
    width:930px;
    background:pink;
    margin-left:20px;
    float:right;
    margin-right:20px;
    margin-bottom:20px;
}

#unHero3{
    height:286px;
    width:1415px;
    background:green;
    margin-left:20px;
    float:left;
}

#unHero4{
    height:286px;
    width:445px;
    background:green;
    margin-left:20px;
    float:right;
    margin-right:20px;
    margin-bottom:20px;
}

#unHeroFooter{
    width:1880px;
    height:594px;
    background:red;
    margin-left:20px;
    margin-bottom:20px;
    display:block;
}

