* {
    box-sizing: border-box;

}

img{
    max-width: 100%;
}

#mainContain{
    margin:0 auto;
    width:1250px;
    position: relative;
}



#hero p{
    font-family: Montserrat;
    font-weight: bold;
    font-size:45px;
    line-height:55px;
    margin-top:150px;
    text-transform: uppercase;
}

#hero input{
    width:50%;
    height:92px;
    width:591px;
    margin-bottom:150px;
}

#hero input[type=submit]{
    height:92px;
    width:301px;
}

header{
    width:1920px;
    height:80px;
    background: #848484 ;
    margin:0 auto;
    margin-bottom:20px;
    position:relative;
    z-index:1;
    left:0px;
    display:flex;
}



header nav ul{
    width:1920px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    margin-top:15px;
}


header nav ul li a{
    text-decoration: none;
    font-size:43px;
    font-family: montserrat;
    font-weight:bold;
    color:white;
    list-style-type: none;
}


#logoBlock{
    height: 160px;;
    width:160px;
    background:#606060;
    position:absolute;
    top:0px;
    left:880px;
    border-radius: 0px 0px 50px 50px;
}

#hero{
width:1250px;
height:600px;
 background:#E1E1E1;
 margin-bottom:20px; 
 display:flex;
 text-align: center;
 justify-content: center;
align-items: center;
flex-flow:row wrap;
}

/* page 1 (a) */

#section1a{
    background:#A8A8A8;
    width:1250px;
}

/* alcoholic quote */

#box1a{
    height:331px;
    width:615px;
    background:red;
    float:left;
    display:flex;
    margin-bottom:20px;
    box-sizing: border-box;
    padding:50px;
}

#box1a p{
    font-family: lato;
    font-size:28px;
    font-weight: normal;
    line-height:60px;
    text-transform: none;
    text-align: right;
}

#box2a{
    height:331px;
    width:615px;
    background:#CECECE;
    float:right;
    padding:50px;
}

#box2a h2{
    font-family: montserrat;
    font-size:41px;
    font-weight: bold;
    line-height:50px;
    text-transform: none;
    text-align: left;
}

#box2a p{
    font-family: lato;
    font-size:28px;
    font-weight: normal;
    line-height:60px;
    text-transform: none;
    text-align: left;
}

#section2a{
    width:1250px;
}

#box3a{
    height:286px;
    width:785px;
    background:#CECECE;
    float:left;
    margin-bottom:20px;
    padding:50px;

}

#box3a p{
    font-family: montserrat;
    font-size:58px;
    font-weight: bold;
    line-height:71px;
    text-transform: none;
    text-align: left;

}

#box4a{
    height:286px;
    width:445px;
    background:#fff;
    border:1px solid black;
    box-sizing: border-box;
    float:left;
    margin-left:20px;
}

/* page 2 */

#box1b{
    height:286px;
    width:785px;
    background: #A8A8A8;
    margin-bottom:20px;
    float:left;
}

#box2b{
    height: 600px;
    width: 785px;
    background: #CECECE;
    margin-bottom:20px;
    float:left;
}

#box3b{
    height:906px;
    width:445px;
    background: #A8A8A8;
    float:right;
    position:absolute;
    top:0px;
    right:0px;
}

#section2b{
    display:flex;
    width:1250px;
    margin-bottom:20px;
}

.boxes456{
    height: 406.67px;
    width:331px;
    background:#fff;
    border:1px solid black;
    box-sizing: border-box;
    flex:1;
    margin-left:10px;
    margin-right:10px;
}

.boxes456:first-child{
    margin-right:10px;
    margin-left:0px;
}

.boxes456:last-child{
    margin-left:10px;
    margin-right:0px;
}

footer{
    width:1250px;
    height:594px;
    background:#606060;
    margin-bottom:20px;
    display:flex;
    margin:0 auto;
}

#bigBoxa{
    width:1250px;
    height:1000px;
    background-color: red;
    margin-bottom:20px;
}